<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECX.Attendance.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="On" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="TradeConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=StagingECXTrade;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="LookUpConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=StagingECXLookUp;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />-->
    <add name="TradeConnectionString" connectionString="data source=busapcluster\busapinstance; initial catalog=ECXTrade;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="LookUpConnectionString" connectionString="data source=busapcluster\busapinstance; initial catalog=ECXLookUp;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>

  </connectionStrings>
  <applicationSettings>
    <ECX.Attendance.UI.Properties.Settings>
      <setting name="ECX_Attendance_UI_ECXSecurityAccess_ECXSecurityAccess" serializeAs="String">
        <value>http://10.1.5.20:5000/ECXSecurity/ECXSecurityAccess.asmx</value>
      </setting>
    </ECX.Attendance.UI.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DirPath" value="LDAP://ecx.com/DC=ecx,DC=com" />
    <add key="domain" value="ecx" />
    <add key="ACDUser" value="APPSA" />
    <add key="ACDPass" value="09Solecx" />
    <!--Ajax render-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--No Of Workstaions for each trading centers-->
    <add key="Addis Ababa" value="184" />
    <!--Addis ababa-->
    <add key="Hawassa" value="90" />
    <!--Hawassa-->
    <add key="Hummera" value="30" />
    <!--Hummera-->
    <add key="Nekemte" value="20" />
    <!--Nekemte-->
    <add key="Gondar" value="35" />
    <!--Gondar-->
    <add key="Adama" value="70" />
    <!--Adama-->
    <add key="Jimma" value="50" />
    <!--Jimma-->
    <add key="Test" value="20" />
    <!--Test-->
    <!--End of No Of Workstaions for each trading centers-->
    <!--Cahche-->
    <add key="CacheRefreshingRateInMinute" value="30" />
    <add key="SessionCacheRefreshingRateInMinute" value="2" />
    <!--End of cache-->
    <!--IP with Trading Centers-->
    <add key="10.1.16" value="Addis Ababa" />
    <add key="10.3.5" value="Addis Ababa" />
    <add key="10.1.18" value="Addis Ababa" />
    <add key="10.1.5" value="Addis Ababa" />
    <add key="10.1.17" value="Addis Ababa" />
    <add key="10.1.13" value="Addis Ababa" />
    <add key="10.100.4" value="Hawassa" />
    <add key="10.6.4" value="Hummera" />
    <add key="10.7.4" value="Nekemte" />
    <add key="10.8.4" value="Gondar" />
    <add key="10.10.4" value="Adama" />
    <add key="10.9.4" value="Jimma" />
    <!--<add key="10.10.4" value="Jimma" />-->
    <add key="10.1.17" value="Test" />
    <!--End of Trading Centers-->
    <!--No of allowed reps-->
    <add key="NoOfRepsPerMeberForCoffee" value="2" />
    <add key="NoOfRepsPerMeberForNonCoffee" value="1" />
    <!--End of allowed reps-->
    <add key="CoffeeGuid" value="71604275-df23-4449-9dae-36501b14cc3b" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/ErrorPage.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/ErrorPage.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/ErrorPage.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/ErrorPage.aspx" responseMode="ExecuteURL" />
      <error statusCode="401" prefixLanguageFilePath="" path="/ErrorPage.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>